/* main styles */
body{font-family: 'Roboto',
    sans-serif;
    color: #434455;
background-color: #FFF;}
.link {text-decoration: none;}
.list {list-style-type: none;}
:root {--main-color: #4D5AE5;
 --primeri-color: #2E2F42;
--wite-color: #FFF;
--cloud-color: #F4F4FD;}

h1,h2,h3,p {margin-top: 0;
        margin-bottom: 0;}

        ul {margin-top: 0;
        margin-bottom: 0;
    padding-left: 0;}

    img {display: block;}

.container {max-width: 1158px; 
    padding-left: 15px;  
    padding-right: 15px; 
    margin: 0 auto;}
/* main styles */

/* heder styles */
.logo {color: var(--main-color);
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
margin-right: 76px;}

.first-part {color: var(--primeri-color);
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.page-nav-list {color: var(--primeri-color);
          font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0 ;
    display: block;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.link-color {color: #404bbf;transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);}


    


.contakts { font-style: normal;}

.contakts-link {line-height: 1.5;
    color: #434455;
font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);} 

.contakts-link:hover,
.contakts-link:focus {color: #404BBF;}

.page-nav-list:hover,
.page-nav-list:focus {
    color: #404BBF;
    }


.link-color::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-navigate {
    display: flex;
justify-content: space-between;
align-items: center;}
.main-page-nav {display: flex;
    align-items: center; }
.page-nav {display: flex;
    gap: 40px;}
.contakts-list {display: flex;
gap: 40px;}

.main-page {border-bottom: 1px solid #E7E9FC;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)}

/* heder styles */

/* Hero image */
.hero-image-section {background-color: var(--primeri-color);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/jpg/people-office.jpg");
background-repeat: no-repeat;
background-size: cover;
max-width: 1440px;
margin-left: auto;
margin-right: auto;
background-position: center;}

.hero-type {color: var(--wite-color);  text-align: center;
    font-size: 56px;
        font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
margin-bottom: 48px;
margin-right: auto;
margin-left: auto;}

.hero-button {color: var(--wite-color);
    background-color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    border-radius: 4px;
    cursor: pointer;
padding: 16px 32px;
display: block;
min-width: 169px;
height: 56px;
border: none;
margin-right: auto;
margin-left: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);}

    .hero-button:hover,
    .hero-button:focus {background-color: #404BBF;}
 
    

    /* Hero image */
/* feuters */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.options-titel {color: var(--primeri-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; 
    letter-spacing: 0.02em;
margin-bottom: 8px;}

.option-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;}    

.option-list-item {width: calc((100% - 72px) / 4);}    
.options-list {display: flex;
gap: 24px;}
.feuters-section {padding-top: 120px;
padding-bottom: 120px;}

.option-list-position-icon {display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
border-radius: 4px;
    border: 1px solid  #8E8F99;
    background: var(--cloud-color);
margin-bottom: 8px;}
/* feuters */

/* Our Team */
.team-section {background-color: #F4F4FD;
    padding: 120px 0 ;}

.secondery-titel {color: var(--primeri-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
margin-bottom: 72px;}

.team-list-item {background-color: #FFFFFF;
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);}

.team-list-name {color: var(--primeri-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;}

.team-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
margin-bottom: 8px; } 
    
.team-list {display: flex;
gap: 24px;}

.list-text {    padding: 32px 0;}

.social-list {display: flex;
justify-content:center;
gap: 24px;
}

.social-list-link-team {display: flex;

background-color: var(--main-color);
border-radius: 50%;
align-items:center;
justify-content: center;
width: 100%;
height: 100%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.social-list-link-team:hover,
.social-list-link-team:focus {
    background-color: #404BBF;
}

.social-list-item{ 
width: 40px;
    height: 40px;
}

.team-social-icon {fill: var(--cloud-color);}

/* Our Team */

/* Portfolio*/
.portfolio-titel {color: var(--primeri-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
        text-transform: capitalize;
margin-bottom: 8px;}

.portfolio-text {font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.portfolio-list {display: flex;
flex-wrap: wrap;
gap: 24px;
row-gap: 48px;
}
    
.portfolio-section {padding-top: 120px; 
    padding-bottom: 120px;}

.portfolio-list-item {width: calc((100% - 48px) / 3);
background-color: var(--wite-color);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.text-cart {padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;}

.box-img {position: relative;
overflow: hidden;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.text-img {color: var(--cloud-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;
padding: 40px 32px;

background-color: var(--main-color);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.portfolio-list-item:hover .box-img .text-img {transform: translateX(0);}
.portfolio-list-item:hover {box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}


/* Portfolio */

/* Footer */
.the-end {background-color: var(--primeri-color);
    padding: 100px 0;
}

.secondery-logo-text {color: var(--cloud-color);
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

    .secondery-logo {color: var(--main-color);
        font-family: "Raleway",sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
    }

        .end-text {color: var(--cloud-color);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.50;
            letter-spacing: 0.02em;
            
        }
.social-text {color: var(--wite-color);
        font-size: 16px;
        font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
margin-bottom: 16px;}

.social-list-end {
    display: flex;
    justify-content: center;
    gap: 16px;
    
}

.social-list-link-end {
    display: flex;

    background-color: var(--main-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.social-list-link-end:hover,
.social-list-link-end:focus {
    background-color: #31D0AA;
}

.social-list-item-end {
    text-align: center;
    width: 40px;
    height: 40px;
}

.end-container {display: flex;
align-items: baseline;
}
.logo-end-conteiner {width: 264px;
    margin-right: 120px;}

.team-social-icon {fill: var(--cloud-color);}

.social-footer {margin-right: 80px;}
.form-footer {
    display: flex;
gap: 24px
;}
.form-titel {color: var(--wite-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
   }

.footer-email {border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: var(--wite-color);
background-color: transparent;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 16px;
width: 264px;
height: 40px;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));}

.footer-button {display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    
border-radius: 4px;
    background: var(--main-color);
    font-size: 16px;
        font-weight: 500;
        line-height: 1.50;
        letter-spacing: 0.04em;
color: var(--wite-color);
 cursor: pointer;
 min-width: 165px;
height: 40px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 15%);
border: none;}

 .footer-button:hover,
 .footer-button:focus {
     background-color: #404BBF;
 }
 .footer-email::placeholder {color: var(--wite-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;}

    .footer-icon {margin-left: 16px;}
    /* Footer */

 /* BACKDROP  */

 .backdrop {background-color: rgba(46, 47, 66, 0.40);position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}

        .backdrop.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
   /* BACKDROP WITH MODAL WINDOW */

  /* MODAL WINDOW */
.modal {position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    padding-top: 72px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    border-radius: 4px;
    background-color: #FCFCFC;
box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.close-button {display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    border: none;
    border-radius: 50%;
    padding: 0;
width: 24px;
height: 24px;
align-items: center;
justify-content: center;
stroke: #2E2F42;
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.close-button-icon {transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.close-button:hover,
.close-button:focus {background-color: #404bbf;
fill: var(--wite-color);
border: none;}

/* MODAL WINDOW */

.text-modal{color: var(--primeri-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

margin-bottom: 16px;}

.form-modal-conteiner {margin-bottom: 8px;}
.form-modal-label{color:  #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
display: block;
margin-bottom: 4px;}

.label-conteiner{
position: relative;
}

.inpute-modal{background-color: transparent;
    width: 100%;
height: 40px;
border-radius: 4px;
border: 1px solid  rgba(46, 47, 66, 0.40);
font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.form-icons{position: absolute;
top: 50%;
left: 16px;
fill: #2E2F42;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.inpute-modal:focus{border: 1px solid var(--main-color);
outline: transparent;}
.inpute-modal:focus+.form-icons{fill: var(--main-color);}

.form-modal-conteiner-textarea {margin-bottom: 16px;}

.comments{display: block;
    width: 100%;
height: 120px;
border-radius: 4px;
border: 1px solid  rgba(46, 47, 66, 0.40);
padding: 8px 16px;
resize: none;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
color: rgba(46, 47, 66, 0.40);
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
background-color: transparent;
outline: transparent; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.comments::placeholder{color:  rgba(46, 47, 66, 0.40);
    font-size: 12px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0.04em;
 }

.comments:focus {border-color: #4D5AE5;
    outline: transparent;}

.text-chec {display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.40);
cursor: pointer;
fill: transparent; 
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.icon-click {width: 16px;
height: 16px;}

.chec-label {display: flex;
    align-items: center;
    color:  #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.text-chec-link {color: var(--main-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    margin-left: 4px;
}

.chec-box:checked + .chec-label > .text-chec {background-color: #404bbf;
fill: var(--cloud-color);
border: none;}

.chec-conteiner {margin-bottom: 24px;}

.buttom-mod {display: block;
    background-color: var(--main-color);
padding: 16px 32px;
min-width: 169px;
height: 56px;
color: var(--wite-color);
margin-left: auto;
margin-right: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.04em;
    border: none;
border-radius: 4px;
cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.buttom-mod:hover,
.buttom-mod:focus {background-color: #404BBF;}