.the-end {
    background-color: var(--primeri-color);
    padding: 96px 0;
}
.end-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.logo-end-conteiner {display: flex;
    flex-direction: column;
    width: 264px;
    
}
.secondery-logo {
    color: var(--main-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    
}
.secondery-logo-text {
    color: var(--cloud-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}


.end-text {
    color: var(--cloud-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;

}

.social-text {
    color: var(--wite-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}
.social-list-end {
    display: flex;
    justify-content: center;
    gap: 16px;

}

.social-list-link-end {
    display: flex;

    background-color: var(--main-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-end:hover,
.social-list-link-end:focus {
    background-color: #31D0AA;
}

.social-list-item-end {
    text-align: center;
    width: 40px;
    height: 40px;
}
.team-social-icon {
    fill: var(--cloud-color);
}



.form-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-titel {
    color: var(--wite-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
text-align: center;}

.footer-email {
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--wite-color);
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    width: 288px;
    height: 40px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-button {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    background: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: var(--wite-color);
    cursor: pointer;
    max-width: 165px;
    height: 40px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 15%);
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.footer-button:hover,
.footer-button:focus {
    background-color: #404BBF;
}

.footer-email::placeholder {
    color: var(--wite-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-icon {
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .end-container {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 72px 24px;
            width: 584px;
        }
 .logo-end-conteiner {
     display: block;
     width: 264px;   
 }
 .social-footer {
     margin-right: 0;
     margin-left: 0;
 }
 .social-text {
    text-align:start;
 }
 .form-footer {
     display: flex;
     flex-direction: row;
     gap: 24px;
 }
 .form-titel {
     text-align: start;
 }
 .footer-button {
    
     min-width: 165px;
 }
 .footer-email {
     width: 264px;
     }
}

@media screen and (min-width: 1158px) {
    .the-end {
            padding: 100px 0;
        }
  .end-container {
      flex-direction: row;
      flex-wrap: nowrap;
    align-items: baseline;
      gap: 0;
      width: 1158px;
  }
  .logo-end-conteiner {
      
      margin-right: 120px;
  }
  .social-footer {
      margin-right: 80px;
  }
}

